*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #11998e, #38ef7d);
    min-height: 100vh;
}

.contenedor{
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 40px;
    flex-wrap: wrap;
}

.tarjeta{
    background-color: white;
    width: 420px;

    padding: 30px;
    border-radius: 18px;

    box-shadow: 0 10px 25px rgba(0,0,0,0.2);

    transition: transform 0.3s ease;
}

.tarjeta:hover{
    transform: translateY(-5px);
}

h1{
    color: #11998e;
    margin-bottom: 15px;
    font-size: 28px;
    text-align: center;
}

h2{
    color: #11998e;
    margin-bottom: 20px;
    text-align: center;
}

.descripcion{
    text-align: center;
    margin-bottom: 25px;
    color: #555;
    line-height: 1.5;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label{
    font-weight: bold;
    color: #333;
}

input{
    padding: 12px;
    border: 2px solid #dcdcdc;
    border-radius: 10px;
    outline: none;

    transition: 0.3s;
    font-size: 15px;
}

input:focus{
    border-color: #11998e;
    box-shadow: 0 0 8px rgba(17,153,142,0.3);
}

.botones{
    margin-top: 25px;
}

button{
    width: 100%;

    padding: 12px;
    border: none;
    border-radius: 10px;

    background-color: #11998e;
    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

button:hover{
    background-color: #0d7f75;
    transform: scale(1.03);
}

.resultados p{
    color: black;
    margin-bottom: 15px;
    font-size: 18px;
}

.categoria{
    color: #e67e22;
    font-weight: bold;
    font-size: 20px;
}

@media(max-width: 900px){

    .contenedor{
        flex-direction: column;
    }

    .tarjeta{
        width: 100%;
        max-width: 450px;
    }

}